@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document #C0C0C0*/

/*body{
	text-align:center;
	background-color: #000000;
}*/


.links {
    margin-left: -31px;
}

#share_button{
	background-color: #ffffff00;
	border: none;
    width: 292px;
    height: 5pc;
background-image: url(share_button.png);
}

#share_button:hover{
background-image: url(share_button-hover.png);

}


#share_button-2{
	background-color: #ffffff00;
	border: none;
    width: 292px;
    height: 5pc;
background-image: url(share_button-2.png);
}

#share_button-2:hover{
background-image: url(share_button-2-hover.png);

}

#h5{
	font-weight: 300;
font-family: Montserrat;
    color: #ffffff;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  background: #F73946;
  text-align:center;
}


.Chr{
margin-top: -10px;
    width: 80%;
    border: 1.2px solid #40676d;
    border-radius: 15px;
}



.move-6 {
   
}



.move-2 {
    position: absolute;
    top: -16px;
}


/*.share-btn-wrp {
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 32px;
	left: 0px;
	position: fixed;
}
.share-btn-wrp .button-wrap{
	text-indent:-100000px;
	width:32px;
	height: 32px;
	cursor:pointer;
	transition: width 0.1s ease-in-out;
}
.share-btn-wrp > .facebook{
	background: url(images/share-icons.png) no-repeat -42px 0px;
}
.share-btn-wrp > .facebook:hover{
	background: url(images/share-icons.png) no-repeat -4px -0px;
	width:38px;
}
.share-btn-wrp > .twitter{
	background: url(images/share-icons.png) no-repeat -42px -34px;
}
.share-btn-wrp > .twitter:hover{
	background: url(images/share-icons.png) no-repeat -4px -34px;
	width:38px;
}


@media all and (max-width: 699px) {
	.share-btn-wrp{
		width: 100%;
		text-align: center;
		position: fixed;
		bottom: 1px;
	}
	.share-btn-wrp .button-wrap {
		display: inline-block;
		margin-left: -2px;
		margin-right: -2px;
	}
}*/

.bmi-calculator {
  display: table;
  background: #2B2D41;
  color: #4E5279;
  border-radius: 5px;
}

.result {
    display: table;
    width: 100%;
    margin-top: -18px;
}

#bmiValue {
	font-size: 1em;
	font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 163px;
    left: -7px;
    width: 100%;
}
.result-text {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
background-image: url(background.png);
  transition-delay: 2s;
 
}
.result-text h1 {
	
    color: #ffffff;
    font-size: 3em;
    margin: 13px 0px;
    padding: 0;
}
.result-text small {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

/*body {
	   min-height: 100vh;
    padding: 0 10vh;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  width: 95%;
  max-width: 700px;
  font-family: tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  padding: 0 10px 20px 10px;
  margin: 0 auto 0 auto;
}*/

h1 {
  font-size: 24px;
  text-align: center;
}

h1 span {
  display: block;
  font-size: 18px;
  font-weight: normal;
}

code {
  background-color: #eee;
  padding: 0 3px 0 3px;
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.links li {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.links li:hover {
  text-decoration: underline;
}

.notes {
  width: 100%;
  margin: 0 0 20px 0;
}

.result-text{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

.calculator {
  padding: 20px;
}


.calculator-title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 15px;
    margin: 0;
}

.calculator-hr {
    margin-top: -10px;
    width: 55%;
    border: 1.2px solid #ffffff;
    border-radius: 15px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 87%;
    height: 10px;
	 background: -webkit-linear-gradient(#ffffff, #8ED8D1, #666666);
    border-radius: 5px;
    display: inline-block;
    margin-top: -15px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: #fff;
  border-color: transparent;
  color: #fff;
}

input[type=range]::-webkit-slider-thumb {
	
  -webkit-appearance: none;
  background-image:url(ball.png);
  background: -webkit-linear-gradient(#2E4158, #2E4158, #000000);
  box-shadow: 1px 5px 20px 9px #2E4158;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;

}

input[type=range]::-webkit-slider-thumb:hover {
	
  -webkit-appearance: none;
   height: 30px;
  width: 30px;
 background: -webkit-linear-gradient(#6385AD, #2E4158, #38506B);
  box-shadow: 1px 5px 30px 9px #2E4158;
  cursor: pointer;
}


input[type=range]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

/*input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
    background: -webkit-linear-gradient(#6385AD, #2E4158, #000000);
  cursor: pointer;
}*/

.field-text {
  font-size: 1em;
  color: #ffffff;
  font-weight: 700;
  padding: 22px;
  display: inline-block;
}

.label-height:after {
  content: ' cm';
  font-size: 0.5em;
  color: #4E5279;
  font-weight: 400;
  text-align: center;
  margin-top: -12px;
}

.label-weight:after {
  content: ' kg';
  font-size: 0.5em;
  color: #4E5279;
  font-weight: 400;
}

.label-age:after{
  content: ' years';
  font-size: 0.5em;
  color: #4E5279;
  font-weight: 400;
}




#reset{
	background-size:100%;
	background-repeat:no-repeat;
    height: 24px;
    background-image: url(calculate-1.png);
    width: 115px;
    border-radius: 1px;
    border: none;
	
}

.meaning {
	margin-bottom:0px;
	margin-top:0px;
	padding:0;
    margin-left: -57px;
    background-color: #00ffff00;
    font-size: 18px;
    width: 259px;
    height: 66px;
    border: none;
    text-align: center;
}


.screen {
    padding: 0;
    background-color: #ffa74f00;
    margin-left: 0;
}

.row-2{
padding:4% 2% 3%;
}

h5{
	margin:0;
	padding:0;
	color:#FFF;
}

/*body{
    min-height: 100vh;
    padding: 0 10vh;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.submit-1{
   background-image:url(calculate-onclick.png);
}
.cal {
	
	background-color: transparent;
	background-size:100%;
	background-repeat:no-repeat;
    height: 24px;
    background-image: url(calculate.png);
    width: 115px;
    border-radius: 1px;
    border: none;
}



.cal:hover {
    cursor: pointer;
	background-color: transparent;
 
}

.fem {
	background-color: #00ffff00;
	background-size:100%;
	background-repeat:no-repeat;
    height: 44px;
    background-image:url(female.png);
    width: 115px;
    border-radius: 1px;
    border: none;
}

.m {
	background-color: #00ffff00;
	background-size:100%;
	background-repeat:no-repeat;
    height: 44px;
    background-image:url(male.png);
    width: 115px;
    border-radius: 1px;
    border: none;
}

.fem:hover {
	cursor: pointer;
	background-color: #00ffff00;

}

.m:hover {
	cursor: pointer;
	background-color: #00ffff00;

}

.fem-1 {
    background-image:url(female-onclick.png);
}

.m-1 {
    background-image:url(male-onclick.png);
}




p,{
	color:#000;
}



.top-1 {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(top-line.png);
    background-color: #ffffff;
    height: 25px;
    width: 303px;
}

.top {
    margin-top: -20px;
    margin-left: -3px;
    background-repeat: no-repeat;
    background-image: url(top-line.png);
    background-color: #ffffff;
    height: 25px;
    width: 300px;
}



.input{
	margin-left: -48px;
	border: none;
    width: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(line2.gif);
    height: 23px;
    background-color: #00ffff00;
}

.buttom {
    margin-top: -21px;
    border-radius: 1px;
    background-color: #ffffff;
    height: 28px;
    width: 300px;
    margin-left: -2px;
}


.strong{
	font-family: 'Montserrat', sans-serif;
color: #fff;
font-weight: 300;
}

#my_image{
	z-index: 1000;
margin-left: 26px;
}



.screen-2{
margin-top: 166px;
}

   .buttom-1 {
    margin-top: 0px;
    background-color: #ffffff;
    height: 25px;
    width: 303px;
}


.share-hr{

    width: 55%;
    border: 1.2px solid #349791;
    border-radius: 15px;
}

  
.buttom-2 {
    margin-left: -2px;
    margin-top: 131px;
    background-color: #ffffff;
    height: 26px;
    width: 305px;
}


.buttons{
	height:267px;
	    border-radius: 1px;
	display: inline-block;
    width: 78%;
}


#calculator {
    border-radius: 1px;
    width: 297px;
    background-image: url(background.png);
    background-repeat: no-repeat;
    height: 436px;
}

#calculator-3 {
    margin-bottom: 22px;
    width: 303px;
    background-image: url(background.png);
    height: 454px;
    visibility: hidden;
    z-index: 1000;
    margin-left: -301px;

}
    .cal:active + #calculator-3
    {
      visibility: visible

    }




/*#calculator-6 {
    margin-bottom: 22px;
    width: 303px;
    background-image: url(background.png);
    height: 454px;
    visibility: hidden;
    z-index: 1000;
    margin-left: -301px;

}
    .cal:active + #calculator-6
    {
      visibility: visible

    }*/



.typ {
    
    height: 47px;
    width: 458px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
	border:none;
}



.typ-2 {
    height: 47px;
    width: 95px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
	border:none;
}






.digital-clock {
  text-align: left;
  padding-left: 40px;
  padding-top: 5px;
}
